In [ ]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import os
import tarfile
from six.moves import urllib


DOWNLOAD_ROOT = "https://raw.githubusercontent.com/ageron/handson-ml/master/"
HOUSING_PATH = os.path.join("datasets", "housing")
HOUSING_URL = DOWNLOAD_ROOT + "datasets/housing/housing.tgz"

def fetch_housing_data(housing_url=HOUSING_URL, housing_path=HOUSING_PATH):
    os.makedirs(housing_path, exist_ok=True)
    tgz_path = os.path.join(housing_path, "housing.tgz")
    urllib.request.urlretrieve(housing_url, tgz_path)
    housing_tgz = tarfile.open(tgz_path)
    housing_tgz.extractall(path=housing_path)
    housing_tgz.close()

In [ ]:
fetch_housing_data()

In [ ]:
def load_housing_data(housing_path=HOUSING_PATH):
    csv_path = os.path.join(housing_path, "housing.csv")
    return pd.read_csv(csv_path)

In [ ]:
housing = load_housing_data()

In [ ]:
columns = ['latitude','longitude','housing_median_age','total_rooms','total_bedrooms','population','households','median_income','ocean_proximity','median_house_value']

In [ ]:
housing=housing[columns]

In [ ]:
housing.head()

   latitude  longitude  ...  ocean_proximity  median_house_value
0     37.88    -122.23  ...         NEAR BAY            452600.0
1     37.86    -122.22  ...         NEAR BAY            358500.0
2     37.85    -122.24  ...         NEAR BAY            352100.0
3     37.85    -122.25  ...         NEAR BAY            341300.0
4     37.85    -122.25  ...         NEAR BAY            342200.0

[5 rows x 10 columns]

In [ ]:
rnd_split = np.random.rand(len(housing))
train_list = rnd_split < 0.8
test_list = (rnd_split >= 0.8) & (rnd_split < 1)

train_data = housing[train_list]
test_data = housing[test_list]

In [ ]:
train_data.to_csv('train_data_without_header.csv',header=False, index=False)
test_data.to_csv('test_data_without_header.csv', header=False, index=False)

In [ ]:
import sagemaker

files = ['train_data_without_header.csv','test_data_without_header.csv']
session = sagemaker.Session()

for file in files:
  url=session.upload_data(file,bucket='housing-1717',key_prefix='housing/input-datasets')

print(url)